<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Merci</h1>
    <p>PDF Processor</p>

    <form>
      <div>
        <a href="">Logs</a>
      </div>
      <div>
        <a href="/">
          Configure Document Processing
        </a>
      </div>
    </form>
  </body>
</html>
